/* font-family: "Lato", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Lato", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 /* shared style */

.primary-btn{
    width: 177px;
    height: 64px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(229, 84, 115);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 20px 43px 20px 43px;
}

/* header section */


